
.main-view {
  font-family: sans-serif;
}

#genre-view {
  margin-top: 100px;
  background-size: cover;
  height: 85vh;
}

#director-view {
  margin-top: 100px;
  background-size: cover;
  height: 85vh;
}
