*{
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

#main-cont {
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(214,214,214,1) 100%);
  background-size: cover;
  height: 100%;
}

body {
  margin-top: 50px;
}

#main-bg {
  background-color: rgb(83, 82, 80);
}
